{% extends 'base.html' %}

{% block title %}Online Presonal Budget - Home{% endblock %}
{% block head %}
{% if current_user %}
<link rel="stylesheet" href="/css/mainmenu.css">
{% endif %}
{% endblock %}

{% block footer %}
{% if not current_user %}
<script src="/js/app.js"></script>
<script src="/js/validateForm.js"></script>
{% endif %}
{% endblock %}

{% block body %}
{% if current_user %}
{{ include('/Home/loggedMainMenu.html') }}
{% else %}
<main>
  <section class="container-fluid mt-4">
    <div class="row justify-content-center">

      <div class="col-12 col-md-9  col-lg-7 order-1 order-md-2 mt-5 mx-1 border rounded-3">
        <div class="text-center fs-1">
          <span class="tytul">Register now!</span>
        </div>

        <form class="container-fluid" action="/signup/create" method="post" id="formSignup">
          <div class="mb-1">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="name" value="{{ user.email }}">
          </div>
          <div class="mb-1">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}">
          </div>
          <div>
            <label for="inputPassword">Password</label>
            <div class="input-group mb-1">
              <input type="password" class="form-control" id="inputPassword" name="password">
              <span for="inputPassword" class="input-group-text bg-white border-0" id="basic-addon1"><i
                  class="bi bi-eye-slash" id="eyeIcon"></i></span>
              <span class="input-group passwordErrorHere"></span>
            </div>
          </div>
          <div class="d-flex justify-content-center my-2" id="register_button">
            <button class="" type="submit"> Register </button>
          </div>
        </form>
      </div>

    </div>

    <div class="row mb-3 my-3 justify-content-center">
      <div class="mx-1 mx-lg-2 border rounded-3 wiersz">
        <span class="tytul  fs-2">Skąpy</span>
        <p class="tresc">
          Chciał się skąpy obwiesić, że talara stracił.<br>
          Żeby jednak za powróz dwóch groszy nie spłacił,<br>
          Ukradł go po kryjomu. Postrzegli sąsiedzi.<br>
          Kiedy więc, osądzony na śmierć, w jamie siedzi,<br>
          Rzekł, gdy jedni żałują, a drudzy go cieszą:<br>
          «To szczęście, że mnie przecież bez kosztu powieszą». <br>
        </p>
        <span class="autor">Ignacy Krasicki</span>
      </div>

      <div class="mx-1 mx-lg-2 my-3 border rounded-3 wiersz">
        <span class="tytul  fs-2">Talar i czerwony złoty</span>
        <p class="tresc">
          Talar, zwierzchnią postacią swoją okazały,<br>
          Gardził czerwonym złotym, dlatego że mały.<br>
          Gdy przyszło do zmieniania, nie patrzono miary:<br>
          Złoty pieniądz, choć mały, wart był dwa talary.<br>
        </p>
        <span class="autor">Ignacy Krasicki</span>
      </div>

    </div>
  </section>
</main>
{% endif %}

{% endblock %}