{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block body %}
<main>
  <section class="container-fluid mt-5">
    <div class="row justify-content-evenly">
      <div class="col-10 col-sm-8 col-md-7 col-lg-6 col-xl-6 border rounded-3">
        <div class="text-center fs-1">
          <h1>Page not found</h1>
        </div>
        <form class="container-fluid p-0 p-sm-3" action="#nowhere">

          <div class="text-center">
            <p>
              Sorry, that page doesn't exist.
              <br>
              Back to <a href="/">home page</a>.
            </p>
          </div>

        </form>
      </div>
    </div>
  </section>
</main>
{% endblock %}